<div class="container">
  <%= link_to '日記を書く', new_diary_path, class: "btn btn-primary index-diary-button" %>　
  <h2 class="diary-title">日記一覧</h2>
  <div class="index-diary">
    <% @diaries.each do |diary| %>
      <div class="card card-diary" style="width: 18rem;">
        <div class="card-body card-body-diary">
          <h5 class="card-title"><%= truncate(diary.title, length: 20) %></h5>
          <p class="card-text"><p><%= truncate(diary.content, length: 100) %></p>
          <a href="diary_path(diary)" class="btn btn-info card-diary-button">日記を見る</a>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @diaries %>
</div>