.input__diary-title, .input__diary-content {
    margin-bottom: 15px;
}

textarea.input__diary-content {
    height: 350px;
}

.show-diary-button {
    float: right;
}

.input__diary-submit {
    text-align: right;
}

.card-diary {
    margin-bottom: 20px;
    margin-right: 20px;
}

.card-body-diary {
    min-height: 250px;
    position: relative;
}

.card-diary-button {
    position: absolute;
    bottom: 20px;
}

.index-diary {
    display: flex;
    flex-wrap: wrap;
}

.index-diary-button, .diary-title {
    margin-bottom: 20px;
}