header {
    background-color: #a44682;
}

.header-inner {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: space-between;
}

.header-logo {
  font-weight: bold;
}

.header-list {
  display: inline;
}